.container-fluid{
  margin: 0px !important;
  padding: 0px !important;
}
@media only screen and (max-width: 450px) {
  .text-title{
    font-weight: 600;
    font-size: 25px !important;
    letter-spacing: -0.6px;
  }
  .text-description{
    font-size: 14px !important; 
  }
}
@media only screen and (max-width: 800px) {
  #header {
    background-image: url('../medias/imageHeader.png');
  }
  #header-text-description-mobile{
    display: block;
    padding: 20px;
  }
  #header-text-description-desktop{
    display: none;
  }
  .text-title{
    font-weight: 600;
    font-size: 25px;
    letter-spacing: -0.6px;
  }
  .text-subtitle{
    font-weight: 600;
    font-size: 15px;
    text-align: right;
  }
}
@media only screen and (min-width: 800px) {
  #header {
    background-image: url('../medias/imageHeader.png');
    background-repeat:no-repeat;
    background-size:contain;
    background-position:top;
    background-attachment: fixed;
  }
  #header-text-description-desktop{
    display: -webkit-flex; 
    -webkit-align-items: center;
    display: flex;         
    align-items: center;
    margin: 3% auto;
  }
  #header-text-description-mobile{
    display: none;
  }
  .text-title{
    font-weight: 600;
    font-size: 35px;
    letter-spacing: -0.6px;
  }
  .text-subtitle{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: -0.6px;
    text-align: right;
  }
}
#header{
  height: auto;
}
#header-menu{
  border-bottom: 1px black solid;
  /* padding: 15px; */
}
#name-title{
  letter-spacing: -0.6px;
  font-size: 20px !important;
  font-weight: 600;
}
#image-title{
  padding: 2%;
}
#image-title > a > img{
  width: 20px;
  height: 20px;
}

.text-description{
  font-size: 14px;
  letter-spacing: -0.6px;
}
.timeline-text-principal{
  font-weight: 600;
  text-align: right;
  margin: 0px;  
}
.timeline-text-description{
  text-align: right;
  margin: 0px;
}
.text-year{
  text-align: center;
}
.btn-link{
  border-radius: 15px;
  background-color: #000;
  color: #FFF;
  padding: 20px;
}
.btn-link:hover{
  background-color: #000;
  color: #FFF;
  text-decoration: none;
}
.btn-link:visited{
  background-color: #000;
  color: #FFF;
  text-decoration: none;
}